{% extends "base.html.twig" %}

{% block title 'Hello City !' %}


{% block body %}
	<img src="{{ asset('/img/Sport-Investment.jpg') }}" alt="Logo de Sport investment sas" width="200px" height="200px" class="my-12 rounded-full h-24 w-24 shadow-md">

	<h1 class="mt-5  sm:text-4xl font-semibold text-indigo-600">Hello from Geneve</h1>

	<p class="text-lg text-gray-800">It's currently
		{{ 'now'|date('h:i A') }}.</p>


{% endblock %}
